<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Clip Terrain</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
        />

        <style>
            #map {
                height: 100vh;
            }

            #controls {
                display: flex;
                gap: 10px;
                position: absolute;
                bottom: 20px;
                left: 20px;
                z-index: 400;
            }

            #clip-terrain-button {
                padding: 10px;
            }

            #reset-button {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div id="controls">
            <button id="clip-terrain-button" onclick="clipByAoi()">
                CLIP TERRAIN
            </button>
            <button id="reset-button" onclick="reset()">
                RESET RESULTS
            </button>
        </div>

        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
        ></script>
        <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>

        <script src="https://unpkg.com/georaster"></script>
        <script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"></script>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
